html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

/*Universal Selectors****************/
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, section, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

body {
  background-color: darkslategrey; }

h1, h2 {
  font-family: 'Playfair Display', 'Gill Sans', sans-serif;
  font-size: 2em;
  color: white; }

p {
  font-family: 'Playfair Display', 'Gill Sans', sans-serif;
  font-size: 1em;
  color: white; }

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px; }
  .nav .logo {
    display: flex;
    justify-content: center;
    background-color: #153e27;
    padding: 40px 25px;
    border-radius: 100%; }
  .nav .links {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center; }
    .nav .links h2 {
      background-color: #7ed4a4;
      font-size: 1.2em;
      margin: 5px;
      padding: 10px; }

main {
  display: flex;
  flex-direction: row;
  justify-content: space-around; }
  @media only screen and (max-width: 800px) {
    main {
      flex-direction: column;
      align-items: center; } }
  main .main-text {
    width: 35%;
    height: auto;
    align-self: center;
    text-align: justify; }
    @media only screen and (max-width: 800px) {
      main .main-text {
        width: 80%; } }
    main .main-text p {
      margin-top: 20px; }
  main .main-photo {
    margin-top: 20px;
    background-color: #153e27;
    width: 400px;
    height: 400px;
    border-radius: 100%; }

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center; }
  @media only screen and (max-width: 991px) {
    .container {
      flex-wrap: wrap; } }
  .container .images {
    display: flex;
    flex-direction: column;
    width: 30%; }
    @media only screen and (max-width: 991px) {
      .container .images {
        flex-direction: row;
        width: 90%; } }
    @media only screen and (max-width: 800px) {
      .container .images {
        flex-direction: column;
        width: 80%; } }
    .container .images .tile1 {
      background-color: seagreen;
      margin: 10px 0;
      width: 100%;
      height: 200px; }
      @media only screen and (max-width: 991px) {
        .container .images .tile1 {
          margin: 20px 10px; } }
  .container .article {
    display: flex;
    flex-direction: column;
    width: 30%; }
    .container .article .tile3 {
      display: none; }
    @media only screen and (max-width: 991px) {
      .container .article {
        width: 35%; } }
    @media only screen and (max-width: 800px) {
      .container .article {
        width: 80%; }
        .container .article .tile3 {
          display: flex;
          flex-direction: row;
          justify-content: flex-end;
          margin: 10px 0;
          width: 100%;
          height: 200px; }
          .container .article .tile3 .small-img {
            background-color: #7ed4a4;
            width: 50px;
            height: 50px;
            margin-top: 8px;
            margin-left: 10px; }
          .container .article .tile3 .aside-text {
            width: 55%;
            text-align: right; }
            .container .article .tile3 .aside-text h2 {
              font-size: 1.4em;
              margin: 15px 0 10px 0; }
            .container .article .tile3 .aside-text p {
              font-size: 0.9em; } }
    .container .article .tile2 {
      margin: 10px 0;
      width: 100%;
      height: 200px; }
      @media only screen and (max-width: 991px) {
        .container .article .tile2 {
          margin: 30px 0; } }
  .container .aside-container {
    display: flex;
    flex-direction: column;
    width: 30%;
    margin: 10px 0; }
    @media only screen and (max-width: 991px) {
      .container .aside-container {
        width: 40%; } }
    @media only screen and (max-width: 800px) {
      .container .aside-container {
        display: none; } }
    .container .aside-container .tile3 {
      display: flex;
      flex-direction: row;
      margin: 10px 0;
      width: 100%;
      height: 200px; }
      @media only screen and (max-width: 991px) {
        .container .aside-container .tile3 {
          margin: 30px 0; } }
      .container .aside-container .tile3 .small-img {
        background-color: #7ed4a4;
        width: 50px;
        height: 50px;
        margin-top: 8px;
        margin-right: 5px; }
      .container .aside-container .tile3 .aside-text {
        width: 75%; }
        .container .aside-container .tile3 .aside-text h2 {
          font-size: 1.5em;
          margin-bottom: 9px; }

#hero-text {
  width: 80%;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 40px;
  background-color: seagreen;
  text-align: center; }

/*# sourceMappingURL=application.css.map */
